<app-container-content [cardTitle]="'Consumo'" [mainIllustrationImage]="'lexoshub.png'">
    <div class="content">
        <div class="wrapper">
            <ul>
                <li><img src="../../../assets/icons/done.png" alt="" srcset="">Anuncie em múltiplos marketplaces</li>
                <li><img src="../../../assets/icons/done.png" alt="" srcset="">Aumente suas vendas no e-commerce</li>
                <li><img src="../../../assets/icons/done.png" alt="" srcset="">Reduza até 5 vezes o tempo de expedição</li>
                <li><img src="../../../assets/icons/done.png" alt="" srcset="">Emita NF-e automaticamente </li>
                <li><img src="../../../assets/icons/done.png" alt="" srcset="">Cresça sua reputação como vendedor </li>
            </ul>
        </div>
        <div class="text-center">
            <button>
                Acessar Lexos Hub
            </button>
            <div class="trial-btn">
                Você ainda tem 30 dias grátis para usar o Lexus Hub <span>Conheça os Planos</span>
            </div>

        </div>
    </div>
</app-container-content>
